<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th th:text="'ID'"></th>
        <th th:text="'NAME'"></th>
        <th th:text="'LAST NAME'"></th>
        <th th:text="'EMAIL'"></th>
    </tr>
    <tr th:each="user : ${list}">
        <td th:text="${user.getId}">значение1</td>
        <td th:text="${user.getName}">значение2</td>
        <td th:text="${user.getLastName}">значение3</td>
        <td th:text="${user.getEmail}">значение4</td>
    </tr>
</table>
</body>
</html>